.top {
    background: #F8F3F4;
}

.top__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 60px;
}

.top__title {
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F16D7F;

}

.top__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #636363;

    >span {
        font-weight: 700;
        color: #F16D7F;
    }
}